# Xcode
.DS_Store
build/
DerivedData/
*.xcuserstate
*.xcuserdatad
xcuserdata/
*.xccheckout
*.xcscmblueprint
*.xcworkspace
!default.xcworkspace

# Swift Package Manager
.swiftpm/
Packages/
Package.resolved

# CocoaPods
Pods/
*.xcworkspace

# IDE
.vscode/
.idea/

# Build products
*.app
*.dSYM.zip
*.dSYM

# Logs
*.log
